.fliz-loading-html {
  margin-bottom: -15px;
  padding: 46 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fliz-cancel-button {
  cursor: pointer;
  text-decoration: none;
  border: none;
  color: #001F3F;
  border-radius: 5%;
  background-color: white;
  margin-top: 20px;
}

.fliz-refresh-button {
  cursor: pointer;
  text-decoration: underline;
  border: none;
  color: #001F3F;
  border-radius: 5%;
  background-color: white;
  margin-bottom: 4px;
  display: none;
  margin-bottom: 8px;
}

.fliz-black-text {
  color: #001F3F;
  font-weight: 600;
}

.fliz-highlight-text {
  text-shadow: 0px 0px 4px #80ED99;
}

.flizpay-loader {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #001F3F;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 