/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 #test_connection_button {
    background-color: #80ED99;
    border: none;
    color: #001F3F;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}