/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#test_connection_button {
    background-color: #001F3F;
    border: none;
    color: white;
    padding: 14px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#test_connection_button .hidden {
    display: none;
}

#test_connection_button:hover {
    padding: 13px 27px;
    border: 1px solid #80ED99;
}

#test_connection_button:active {
    background-color: #80ED99;
    color:  #001F3F;
    padding: 12px 26px;
    border: 2px solid #001F3F;
}
#woocommerce_flizpay_connection_result {
    text-align: center;
    padding: 14px 28px;
    border-radius: 5px;
    font-size: 12px;
    display: inline-block;
    margin-left: 4px;
}

.connection-success {
    background-color: #80ED99;
    color: #001F3F;
}

.connection-failed {
    color: aliceblue;
    background-color: rgb(210, 63, 30, .7);
}

.flizpay-description-banner {
    display: flex!important;
    width: 100%; 
    flex-wrap: wrap; 
    padding: 0;
    justify-content: space-between;
}

.flizpay-german-banner {
    background-color: #f7f7f7;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 4px solid #007cba;
    width: 100%;
}

.flizpay-english-banner {
    background-color: #f7f7f7;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 4px solid #007cba;
    width: 100%;
}

.flizpay-banner-header {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.flizpay-header-text {
    font-weight: bold;
    font-size: large;
    width: 100%;
    text-align: center;
}